body{
    background-color: #EFF1FF;
}
.questionInterest {
    /* display: flex; */
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
   
}

.questionInterest .questionInterestHeader{
    text-align: center;
    margin-top: 10%;
}


.questionInterestBody {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  
}

.questionInterestBody .interest {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    
}

.questionInterestBody .interest .interestIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 10px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    color: #27187E;
    margin: 10px;
    border: 1px solid #27187E;
    transition: all 0.3s ease-in-out;
}

.questionInterestBody .YesInterested {
    background-color: #27187E;
    color: #fff !important;

}

.questionInterest .questionInterestFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.questionInterest .questionInterestFooter .btn {
    border: none;
    text-decoration: none;
    color: #000;
    margin: 10px;
}

.questionInterest .questionInterestFooter .nextBtn {
    font-size: 24px;
    font-weight: 600;
}

@media screen and (max-width: 762px) {
    .questionInterest .questionInterestHeader{
        margin-top: 30%;
    }
    .questionInterestBody .interest {
        width: 100%;
    }
    .questionInterest .questionInterestFooter{
        margin-top: 10%;
    }
    .questionInterest .questionInterestFooter .nextBtn {
        font-size: 20px;
    }
    
}
